.git
.build
.dart_tool
.gradle
.idea
.swiftpm
.vscode
.yarn/cache
DerivedData
build
build-*
**/build
**/build-*
**/.build
**/node_modules
**/.yarn/cache
**/.dart_tool
**/.gradle
**/Pods
**/DerivedData
**/*.xcarchive
**/*.xcresult
**/*.dSYM
**/*.xcframework
**/Binaries
core/dist
core/third_party/*/lib
core/third_party/*/bin
core/tests/build
core/build
core/build-*
